:root {
  --text-align: center;
  --background-color: #a7c2d3;
  --header-footer-color: #e6eae9;
  --text-buttonText-color: white;
  --boldText-buttonBackground-color: #636c71;
  --link-decoration: none;
  --box-shadow: 0 5px 10px #798386;
  --active: #34383a;
}

.body1,
.body2,
.body3,
.body4 {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
}

.body1 {
  margin-top: 200px;
}

.body2 {
  margin-top: 185px;
}

.navbar {
  background-color: var(--header-footer-color) !important;
}

.color {
  color: var(--boldText-buttonBackground-color) !important;
}

.color:hover {
  color: var(--active) !important;
}

.active {
  color: var(--active) !important;
}
.nav-btn {
  margin-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--boldText-buttonBackground-color);
}

h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  color: var(--text-buttonText-color);
}

.btn {
  display: flex;
  justify-content: center;
}

.btn:hover {
  border-color: var(--background-color);
}

a:hover {
  color: var(--text-buttonText-color);
}

a:active {
  color: var(--text-buttonText-color);
}

.contact-btn {
  border: 1px solid var(--boldText-buttonBackground-color);
  background-color: var(--boldText-buttonBackground-color);
  border-radius: 4px;
  padding: 20px 50px;
  color: var(--text-buttonText-color);
  text-decoration: var(--link-decoration);
  box-shadow: var(--box-shadow);
  font-size: 20px;
}

.introduce {
  margin-left: 18px;
  margin-right: 18px;
}

.introduce h1 {
  font-size: 48px;
  margin-bottom: 28px;
}

.introduce p {
  font-size: 24px;
  margin-bottom: 28px;
}

hr {
  width: 50%;
  display: block;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--header-footer-color) !important;
  padding-top: 10px;
  padding-bottom: 5px;
  opacity: 70%;
}

footer p {
  color: var(--boldText-buttonBackground-color);
}

footer a {
  color: #d3dee3;
}

i {
  font-size: 25px;
  color: #34383a;
}

i:hover {
  color: #000000;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.linkedin,
.instagram {
  margin-right: 10px;
}

.work4 {
  margin-bottom: 30px;
}

.launch-btn {
  display: flex;
  justify-content: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.launch {
  border: 1px solid var(--box-shadow);
  border-radius: 4px;
  background-color: var(--boldText-buttonBackground-color);
  padding: 20px 15px;
  color: var(--text-buttonText-color);
  text-decoration: var(--link-decoration);
  box-shadow: var(--box-shadow);
}

.work {
  border-color: white;
}

.contact {
  color: white;
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
}

.email {
  font-size: 1.5rem;
  color: var(--boldText-buttonBackground-color);
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-weight: 500;
}

.email:hover {
  color: var(--boldText-buttonBackground-color);
  cursor: pointer;
  color: #454a4d;
  transition: all 200ms ease-in-out;
  border-color: var(--background-color);
}

.email:active {
  color: var(--boldText-buttonBackground-color);
}

@media (max-width: 768px) {
  .body1 {
    margin-top: 300px;
  }

  .body2 {
    margin-top: 72px;
  }

  .body3 {
    margin-top: 90px;
  }

  .body4 {
    margin-top: 190px;
  }

  p,
  .contact {
    line-height: 1.8;
  }

  .coding {
    margin-bottom: 15px;
  }

  .weather-img,
  .rachel-img {
    margin-bottom: 20px;
  }

  .rachel-hollis-work {
    margin-bottom: 75px;
  }
}

@media (min-width: 768px) {
  .body1 {
    margin-top: 310px;
  }

  .body2 {
    margin-top: 160px;
  }

  .body3 {
    margin-top: 100px;
  }

  .body4 {
    margin-top: 230px;
  }

  p,
  .contact {
    line-height: 2.5;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-container {
    margin-top: 120px;
  }

  .work1,
  .work2,
  .work3 {
    margin-bottom: 30px;
  }

  .launch-btn {
    margin-top: 30px;
  }
}
